.popup__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 54px 0 0 0;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 480px) {
  .popup__form {
    margin-top: 75px;
  }
}